.app {
  text-align: center;
  margin-top: 100px;
  font-family: "Poppins", sans-serif;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  width: 250px;
  font-size: 16px;
  border: 2px solid #333;
  border-radius: 8px;
  outline: none;
}

.qr-section {
  margin-top: 30px;
}
